# TODO Map this to documentation for usage
ENKLUM_GIT_USER_NAME="Smith Black"
ENKLUM_GIT_USER_EMAIL="smith@enklum.dev"
ENKLUM_DEFAULT_EDITOR="hx" # hx (helix), nvim (neovim), emacs, nano, vi
TZ="Europe/Paris"